<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Opret Mig</h4>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Brugernavn" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="password" class="form-control" placeholder="Adgangskode" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="password" class="form-control" placeholder="Gentag adgangskode" aria-label="Repeat password" aria-describedby="basic-addon1">
            </div>

            <input type="checkbox" id="accept" name="accept">
            <label for="accept"> Accepter betingelser - <a href="#">Læs betingelserne</a></label>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>