<div class="modal-body">
    <h4 class="modal-title center">Opret Mig</h4>
    <form [formGroup]="signUpForm">
        <div class="form-group">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                </div>
                <input name="username" ng-model="username" type="text" class="form-control" placeholder="Brugernavn" formControlName="userName" required minlength="4">
            </div>
            <!--span class="text-danger" ng-show="signUpForm.username.$error.required">Brugernavn er påkrævet</-span-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faAt"></fa-icon>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faKey"></fa-icon>
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Adgangskode" formControlName="password">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faKey"></fa-icon>
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Gentag adgangskode" formControlName="confirmPassword">
            </div>

            <app-checkbox class="ml-3" cbId="terms" cbText="Jeg acceptere betingelserne"></app-checkbox>

            <a href="javascript:void();" class="btn btn-lg btn-success float-right" (click)="CreateUser()">Opret
            </a>
        </div>
    </form>
</div>
