<div class="row">
    <div class="col col-6">
        <div class="row">
            <div class="col col-12">
                <div class="card user-card">
                    <div class="player-container">
                        <div class="player-image-div">
                            <img src="https://content.api.news/v3/images/bin/a6923adbc7bece73803221613f410782"/>
                        </div>
                        <div class="player-name-div">
                            <span>Greta Thunbarg</span>
                        </div>
                        <div class="player-ready-div">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <H3>//TODO: Player data</H3>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <H3>//TODO: Player data</H3>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <H3>//TODO: Player data</H3>
            </div>
        </div>
    </div>
    <div class="col col-6">
        <H1>//TODO: KLAR KNAP OG NEDTÆLLING</H1>
    </div>
</div>