<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="" href="javascript:void();">444.dk</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" href="javascript:void();">Spil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" href="javascript:void();">Turneringer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" href="javascript:void();">Præmier</a>
        </li>
      </ul>
      <div>
        <a *ngIf="!cookieService.check('session-token')" href="javascript:void();" id="loginBtn" class="btn btn-outline-light text-uppercase" (click)="open(loginContent)">Log ind</a>
        <a *ngIf="!cookieService.check('session-token')" href="javascript:void();" class="btn btn-success text-uppercase ml-2" (click)="open(createContent)">Opret dig</a>
        <a *ngIf="cookieService.check('session-token')" href="javascript:void();" class="btn btn-outline-danger text-uppercase" (click)="logout()">Log Ud</a>
        <img *ngIf="cookieService.check('session-token')" src="https://image.444.dk/user-alt-512.png" class="user-image"/>
      </div>
    </div>
  </nav>

  <ng-template #createContent let-createModal>
    <app-signup-form [modal]="createModal"></app-signup-form>
  </ng-template>
  <ng-template #loginContent let-loginModal>
    <app-login-form [modal]="loginModal" [verified]="verified"></app-login-form>
  </ng-template>

  <pre>{{ closeResult }}</pre>
