<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">444.dk</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Spil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Turneringer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Præmier</a>
        </li>
      </ul>
      <div>
        <a href="#" class="btn btn-success">Log ind</a>
        <a href="#" class="btn btn-danger ml-2" (click)="open(content)">Opret dig</a>
      </div>
    </div>
  </nav>

  <ng-template #content let-modal>
    <app-signup-form></app-signup-form>
  </ng-template>