<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 support">
        <div class="footer-pad">
          <ul class="list-unstyled">
            <li class="mb-50">
              <div class="flex-content">
                <div class="d-inline-block circled-icon">
                  <fa-icon [icon]="phone" size="2x"></fa-icon>
                </div>
                <div class="d-inline-block support-info">
                  <span class="badge">+45 41 41 21 46</span> <br/>
                  <span class="sub-badge">Man-Fre: 08:00 - 16:00</span>
                </div>
              </div>
            </li>
            <li class="mb-50">
              <div class="flex-content">
                <div class="d-inline-block circled-icon">
                  <fa-icon [icon]="mail" size="2x"></fa-icon>
                </div>
                <div class="d-inline-block support-info">
                  <span class="badge">Support@444.dk</span> <br/>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-sm-10">
      </div>
    	<div class="col-md-4">
        <h4 class="">OM OS</h4>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id magna eget ipsum mollis scelerisque.
          Vestibulum efficitur luctus diam, ut semper lectus faucibus eget. Integer sit amet feugiat neque.
        </span>
        <br/>
        <br/>
          <ul class="float-right social-network social-circle">
             <li><fa-icon [spin]="true" [icon]="facebook" size="2x"></fa-icon></li>
             <li><fa-icon [spin]="true" [icon]="twitter" size="2x"></fa-icon></li>
             <li><fa-icon [spin]="true" [icon]="linkedin" size="2x"></fa-icon></li>
             <li><fa-icon [spin]="true" [icon]="instagram" size="2x"></fa-icon></li>
          </ul>
		</div>
  </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - Play It.  Alle rettigheder forbeholdes</p>
		</div>
	</div>


  </div>
  </div>
</footer>
