<div class="d-flex flex-column body">
  <div class="text-center">
    <h1 class="page-title">PRÆMIER KOMMER SNART!</h1>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 section-left">
                <div id="timer" class="bd-cd-timer">
                    <div class="time-card">
                        <span class="time-count" id="days">{{daysRemaining}}</span>
                        <span class="time-label">DAGE</span>
                    </div>
                    <div class="time-card">
                        <span class="time-count" id="hours">{{hoursRemaining}}</span>
                        <span class="time-label">TIMER</span>
                    </div>
                    <div class="time-card">
                        <span class="time-count" id="minutes">{{minutesRemaining}}</span>
                        <span class="time-label">MINUTTER</span>
                    </div>
                    <div class="time-card">
                        <span class="time-count" id="seconds">{{secondsRemaining}}</span>
                        <span class="time-label">SEKUNDER</span>
                    </div>
                </div>
                <form class="form-subscribe">
                    <div class="form-group">
                        <label for="email" class="sr-only">email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="email">
                    </div>
                    <button type="submit" class="btn btn-subscribe">Meddel mig når den er klar!</button>
                </form>
            </div>
            <div class="col-md-6 d-none d-md-flex align-items-center">
                <img src="../../../../assets/comming-soon/images/coming-soon.png" alt="coming soon" class="img-fluid">
            </div>
        </div>
    </div>
</div>
