<div class="webgl-content" style="position: relative; width: 100%; height: 100%;">
    <div id="gameContainer">
    </div>
    <div class="footer">
      <div class="webgl-logo"></div>
      <div class="fullscreen" (click)="EnableFullscreen()"></div>
    </div>
</div>

<textarea id="SendMsgToJS" (click)="HandleUnityMessage($event)">Dette er min command</textarea>
<!--a id="SendMsgToJS" class="d-none" data-message="" (click)="HandleUnityMessage($event)"></a-->

<p (click)="SendMsgToUnity('test')">test</p>

<!--style="width: 960px; height: 600px"-->
