<div class="row">
  <div class="col col-12">
    <app-carousel [Games]="games"></app-carousel>
  </div>
</div>
<div class="row">
  <div class="col col-12">
    <div class="content-container">
      <div class=" mb-3 ml-2 mr-2 border-bottom">
        <h3>Populære</h3>
      </div>
      <ng-template ngFor let-game [ngForOf]="games">
        <app-game-card *ngIf="game.gameTypeId === 1 || game.gameTypeId === 2 || game.gameTypeId === 3 || game.gameTypeId === 4 || game.gameTypeId === 5 || game.gameTypeId === 6 ||
              game.gameTypeId === 11 || game.gameTypeId === 12" [game]="game" [gameCount]="gameCounts"></app-game-card>
      </ng-template>
    </div>
  </div>
</div>
