<div class="d-inline-block">
  <div routerLink="game" [queryParams]="{game: game | json}" class="card game-card">
      <div class="game-comp-container">
        <div class="game-comp-logo-div">
          <img class="game-logo" [src]="game.logoPath">
        </div>
        <div class="game-comp-background-div">
          <img class="game-background" [src]="game.backgroundPath">
        </div>
        <div class="game-comp-players-div">
          <span>
            <fa-icon [icon]="faUsers"></fa-icon> 23
          </span>
        </div>
      </div>
  </div>
</div>

