
.game-card {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border: none;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 1px 10px 12px rgba(51,51,51,.3);
  margin: 0 10px 20px 10px;
}

.game-card img{
  transition: transform .5s;
}
.game-card:hover img.game-background{
  transform: scale(1.1);
}

.game-card img.game-logo {
  transition: top ease 0.5s;
}

.game-card:hover img.game-logo {
  top: 110px;
}

.game-background {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.game-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}


