.game-card {
  height: 250px;
  width: 250px;
  overflow: hidden;
  border: none;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 1px 10px 12px rgba(51,51,51,.3);
  margin: 0 10px 20px 10px;
}

.game-card img{
  transition: transform .5s;
}
.game-card:hover img.game-background{
  transform: scale(1.1);
}

.game-card img.game-logo {
  transition: top ease 0.5s;
}

.game-card:hover img.game-logo {
  top: 110px;
}

.game-background {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.game-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
}



.game-comp-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "image"
}

.game-comp-background-div{
  grid-area: image;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
.game-comp-background-div img {
  height: 100%;
  width: 100%;
}

.game-comp-logo-div{
  grid-area: image;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.game-comp-logo-div img {
  grid-area: image;
  justify-self: center;
  align-self: center;
  max-width: 125px;
}

.game-comp-players-div {
  grid-area: image;
  justify-self: right;
  align-self: end;
  z-index: 11;
  background-color: #f0ffffaa;
  font-size: 24px;
  padding: 3px 10px;
  border-top-left-radius: 11px;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
}
