<div class="d-inline-block">
  <div [routerLink]="game.gameTypeId === 2 ? ['/game'] : []"
       [queryParams]="game.gameTypeId === 2 ? {gameID: game.gameTypeId} : {}" class="card game-card">
    <div class="game-comp-container">
      <div class="game-comp-logo-div">
        <img class="game-logo" [src]="game.logoPath">
      </div>
      <div class="game-comp-background-div">
        <img class="game-background" [src]="game.backgroundPath">
      </div>
      <div *ngIf="game.gameTypeId !== 2" class="comming-soon">
        <span>Kommer snart</span>
      </div>
      <div *ngIf="game.gameTypeId === 2" class="game-comp-players-div">
          <span *ngIf="amount !== undefined">
            <fa-icon [icon]="faUsers"></fa-icon>
            {{amount}}
          </span>
        <span *ngIf="amount === undefined">
            <fa-icon [icon]="faUsers"></fa-icon> 0
          </span>
      </div>
    </div>
  </div>
</div>
