.table-comp {
  display: inline-block;
  height: 75px;
  width: 225px;
  margin: 0 10px 20px 10px;
  box-shadow: 1px 5px 10px 0px #bbb;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.table-comp:hover {
  top: -4px;
}

.table-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100px auto 60px;
  grid-template-rows: auto;
  grid-template-areas:
    "logo table-num players";
    padding-left: 3px;
}

.table-comp-image-div{
  grid-area: logo;
  justify-self: start;
  align-self: center;
}
.table-comp-image-div img {
    max-height: 70px;
    max-width: 85px;
}

.table-comp-num-div {
  grid-area: table-num;
  justify-self: center;
  align-self: center;
}

.table-comp-players-div {
  grid-area: players;
  justify-self: right;
  align-self: end;
}

.table-comp-players-div > div{
  padding: 3px;
  border-top-left-radius: 11px;
  border-left: 2px solid #999;
  border-top: 2px solid #999;
  box-shadow: -1px -1px 5px 0px #bbb;
}

.table-full {
  background: rgba(0, 0, 0, 0.3);
  cursor: auto;
  opacity: 0.8;
}

.table-full:hover {
  top:0;
}
