#header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 999;
  margin-top: -96px;
}

#site-content {
  background-color: #EBEAEA;
  margin-top: 96px;
  min-height: calc(100vh - 390px);
}

#footer {
  padding: 0;
}
