<div class="container" id="header">
  <div class="row">
    <div class="col col-12">
      <!-- Header -->
      <app-header></app-header>
    </div>
  </div>
</div>
<div class="container" id="content">
  <div class="row">
    <div class="col col-12" style="min-height: 75vh;">
      <!-- Content -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container" id="footer">
  <div class="row">
    <div class="col col-12">
      <!-- Footer -->
      <app-footer></app-footer>
    </div>
  </div>
</div>


