<div class="container-fluid">
  <div [ngClass]="{'container': ingame === false, 'container-fluid': ingame}" id="header">
    <div class="row">
      <div class="col col-12">
        <!-- Header -->
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div [ngClass]="{'container': ingame === false, 'container-fluid': ingame}" id="site-content">
    <div class="row">
      <div class="col col-12 p-0" style="margin-top: 56px; min-height: calc(100vh - 354px);">
        <!-- Content -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div *ngIf="ingame === false" class="container" id="footer">
    <div class="row">
      <div class="col col-12">
        <!-- Footer -->
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

