.table-overview-container {
  padding: 15px;
  text-align: center;
}

.vh-80 {
  min-height: 80vh;
}

.table-selection {
  display: inline-block;
  width: 70%;
}

.chat-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.chat-comp {
  width: calc(30% - 15px);
}

.chat-tab {
  width: calc(50%);
  text-align: left;
  border: 1px solid;
  border-radius: 0;
}
