<div class="row h-100 vh-80">
  <div class="table-selection">
    <div class="table-overview-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="h-100 border-left chat-comp">
    <div class="h-100 chat-header border-bottom">
      <a class="btn chat-tab" [class.active]="lobbyChat" [class.only-lobby]="lobbyId ? lobbyId == null: true" (click)="showLobby(true)">Fælles chat - {{game?.name}}</a>
      <a class="btn chat-tab" [class.active]="!lobbyChat" [class.disabled]="lobbyId ? lobbyId == null: true" (click)="showLobby(false)">Bord chat</a>
      <div [hidden]="!lobbyChat" style="height: calc(100% - 36px)">
        <app-chat class="chat-box h-100" [gameId]="gameId"></app-chat>
      </div>
      <div [hidden]="lobbyChat" style="height: calc(100% - 36px)">
        <app-chat class="chat-box h-100" [gameId]="'a'"></app-chat>
      </div>
    </div>
  </div>
</div>
