<div class="row h-100 vh-80">
  <div class="table-selection">
    <div class="table-overview-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="h-100" style="width: calc(30% - 15px)">
    <div class="chat-header border-bottom">
      <a class="btn" (click)="showLobby(true)">Lobby</a>
      <a class="btn" [class.disabled]="lobbyId ? null: true" (click)="showLobby(false)">Table</a>
      <app-chat *ngIf="lobbyChat && game?.gameTypeId !== undefined && game?.gameTypeId !== null" class="chat-box"
                [gameId]="game?.gameTypeId"></app-chat>
      <app-chat *ngIf="!lobbyChat" class="chat-box" [gameId]="lobbyId"></app-chat>
    </div>
  </div>
</div>
