<div class="cookie-policy-container">
  <h3>COOKIE- OG PRIVATLIVSPOLITIK HOS PLAY.IT A/S</h3>

  <h4>Introduktion</h4>

  <span>Når du besøger vores website bliver der indsamlet oplysninger om dig, som bliver brugt til at tilpasse og forbedre vores indhold og til at skabe mere værdi hos de annoncer,
        der vises på siden. Hvis du ikke ønsker, at der bliver indsamlet oplysninger om dig, bør du slette dine cookies og undlade videre brug af hjemmesiden.
        I de nedenstående afsnit har vi uddybet, hvad det er for informationer, der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.</span>
  <h4>Cookies</h4>

  <span>Hjemmesiden anvender "cookies", som er en tekstfil, der gemmes på din computer, mobil el. tilsvarende med formålet at genkende den, huske indstillinger,
        udføre statistik og målrette annoncer. Cookies kan dog ikke indeholde skadelig kode som fx. virus.
        Det er muligt for dig at slette eller blokere for cookies. Det kan du gøre ved at følge denne vejledning: http://minecookies.org/cookiehandtering
        Hvis du følger vejledningen og sletter eller blokerer cookies, så vil de annoncer du ser kun blive mindre relevante for dig, mens de vil optræde hyppigere. Du kan samtidig også risikere,
        at hjemmesiden ikke fungerer optimalt, samt at der er indhold, som du ikke kan få adgang til.</span>

  <h3>PERSONOPLYSNINGER</h3>
  <h4>Generelt</h4>

  <span>Personoplysninger er alle former for informationer, som i et eller andet omfang kan henføres til dig. Når du benytter vores website, så indsamler og behandler vi en række af sådanne informationer.
        Det sker f.eks. ved helt almindelige interaktioner på hjemmesiden som fx at du tilmelder dig vores nyhedsbrev, deltager i en konkurrence/undersøgelse,
        registrere dig som ny bruger/abonnent eller ved øvrig brug af services eller køb via vores hjemmeside.</span>

  <span>Vi indsamler og behandler typisk følgende slags oplysninger: Et unikt ID og tekniske oplysninger om din computer, tablet eller mobiltelefon, dit IP-nummer,
        geografisk placering, samt hvilke sider du klikker på. I det omfang du selv giver eksplicit samtykke og selv indtaster informationerne,
        behandler vi desuden: Navn, telefonnummer, e-mail, adresse og betalingsoplysninger. Det sker typisk i forbindelse med, at du opretter et login eller ved køb på siden.</span>

  <h4>Sikkerhed</h4>

  <span>Vi behandler dine personoplysninger sikkert og fortroligt i overensstemmelse med gældende lovgivning, herunder persondataforordningen og databeskyttelsesloven.
        Dine oplysninger vil alene blive anvendt til det formål, de er indsamlet til og vil blive slettet, når dette formål er opfyldt eller ikke længere er relevant.
        Vi har truffet tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller ulovligt bliver slettet, offentliggjort, fortabt, forringet eller kommer til uvedkommendes kendskab,
        misbruges eller i øvrigt behandles i strid med lovgivningen.</span>

  <h4>Formål</h4>

  <span>Oplysningerne bruges til at identificere dig som bruger og vise dig de annoncer, som vil have mest relevans for dig, at registrere dine køb og betalinger,
        samt at kunne levere dig de services, du har efterspurgt, som fx at modtage nyhedsbreve. Derudover anvender vi oplysningerne til at optimere og forbedre vores services og indhold.</span>

  <h4>Periode for opbevaring</h4>

  <span>Vi opbevarer oplysninger i det tidsrum, som er tilladt i henhold til lovgivningen, og vi sletter dem, når de ikke længere er nødvendige eller relevante. Perioden afhænger af,
        hvilken karakter oplysningen er og baggrunden for opbevaring. Det er derfor ikke muligt at give en generel tidsramme for, hvornår informationer slettes.</span>

  <h4>Videregivelse af oplysninger</h4>

  <span>Data om din brug af websitet, hvilke annoncer du modtager og evt. klikker på, geografisk placering, køn og alderssegment m.v. videregives til tredjeparter i det omfang oplysningerne er kendt,
        og såfremt vi benytter os af tredjeparter. Du kan se hvilke tredjeparter, der er tale om, i afsnittet om Cookies ovenfor. Oplysningerne bliver anvendt til målrettet annoncering.</span>

  <span>Vi benytter derudover en række tredjeparter til opbevaring og behandling af data. Disse behandler udelukkende oplysninger på vegne af os og må ikke anvende dem til egne formål.</span>

  <span>Videregivelse af personoplysninger som navn og e-mail m.m. vil kun ske, hvis du selv giver samtykke til det. Vi anvender kun databehandlere i EU eller i lande,
        der kan give dine oplysninger en tilstrækkelig beskyttelse.</span>

  <h4>Indsigt og klager</h4>

  <span>Du har ret til at få oplyst, hvilke personoplysninger, vi behandler om dig i et almindeligt format (dataportabilitet). Du kan desuden til enhver tid gøre indsigelse mod, at oplysningerne anvendes.
        Du kan også tilbagekalde dit samtykke til, at der bliver behandlet oplysninger om dig. Hvis de oplysninger, der behandles om dig, er forkerte har du ret til, at de bliver rettet eller slettet.
        Henvendelse herom kan ske til: info@444.dk. Hvis du vil klage over vores behandling af dine personoplysninger, har du også mulighed for at tage kontakt til Datatilsynet.
        Ønsker du ikke længere, at vi skal behandle dine personoplysninger, eller at vi skal begrænse behandlingen af dine personoplysninger, kan du også sende os en anmodning herom til ovennævnte e-mailadresse.</span>

  <h4>Udgiver</h4>

  <span>Websitet ejes og publiceres af:</span>

  <span>Play.It A/S</span>

  <span>Alpeviolvej 3</span>

  <span>4200 Slagelse</span>

  <span>Telefon: 41412146</span>

  <span>CVR: 78945612</span>

  <span>E-mail: info@444.dk</span>

  <h4>Ekstra:</h4>

  <span>Ved at acceptere disse betingelser indvilliger du hermed til at overdrage din førstefødte til Play.it</span>
</div>
