<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="" href="javascript:void(0);"><img src="https://image.444.dk/logo/logo-without-banner.png" width="90" height="70"/></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" href="javascript:void(0);">Spil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" href="javascript:void(0);">Turneringer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/terms" href="javascript:void(0);">Præmier</a>
        </li>
      </ul>
      <div>
        <a *ngIf="!cookieService.check('session-token')" href="javascript:void(0);" id="loginBtn" class="btn btn-outline-light text-uppercase" (click)="login()">Log ind</a>
        <a *ngIf="!cookieService.check('session-token')" href="javascript:void(0);" class="btn btn-success text-uppercase ml-2" (click)="create()">Opret dig</a>
        <a *ngIf="cookieService.check('session-token')" href="javascript:void(0);" class="btn btn-outline-danger text-uppercase" (click)="logout()">Log Ud</a>
        <img *ngIf="cookieService.check('session-token')" src="https://image.444.dk/user-alt-512.png" class="user-image"/>
      </div>
    </div>
  </nav>
