.navbar {
  background-color: rgb(37,3,92, .4);
}
.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(255,255,255,.7);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.9);
  background-color: #2E136C;
  border-radius: 10px;
}
.user-image {
  height: 40px;
  margin-left: 20px;
}
