<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="" href="javascript:void(0);"><img src="https://image.444.dk/logo/logo-without-banner.png" width="90" height="70"/></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" href="javascript:void(0);">Spil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tournaments" href="javascript:void(0);">Turneringer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/awards" href="javascript:void(0);">Præmier</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!cookieService.check('session-token')">
      <a href="javascript:void(0);" id="loginBtn" class="btn btn-outline-light text-uppercase" (click)="login()">Log ind</a>
      <a href="javascript:void(0);" class="btn btn-orange text-uppercase ml-2" (click)="create()">Opret dig</a>
    </div>
    <div *ngIf="cookieService.check('session-token')" ngbDropdown class="d-inline-block">
      <div class="userbox" id="dropdownBasic1" ngbDropdownToggle>
          <div class="avatar">
            <div class="image">
              <img *ngIf="user !== undefined" [src]="user.avatarFilePath" alt="https://image.444.dk/players/no-image/no-user-image.png"/>
            </div>
          </div>
          <div class="name"><span *ngIf="user !== undefined">{{user.userName}}</span></div>
          <div class="dropdown-arrow">
            <fa-icon [icon]="faChevronDown"></fa-icon>
          </div>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem href="javascript:void(0);" (click)="logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon> Log Ud
        </a>
      </div>
    </div>
  </nav>
