<div class="modal-body">
    <h4 class="modal-title center">Opret Mig</h4>
    <div class="text-center">
      <span>Allerede oprettet? <a href="javascript:void(0);" (click)="login()"  tabindex="-1" >Log ind</a></span>
    </div>
    <form [formGroup]="signUpForm">
        <div class="form-group">
            <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                </div>
                <input name="username" ng-model="username" type="text" class="form-control" placeholder="Brugernavn" formControlName="userName" required minlength="4" tabindex="1">
            </div>
            <!--span class="text-danger" ng-show="signUpForm.username.$error.required">Brugernavn er påkrævet</-span-->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faAt"></fa-icon>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Email" formControlName="email" tabindex="2">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faKey"></fa-icon>
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Adgangskode" formControlName="password" tabindex="3">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="faKey"></fa-icon>
                    </span>
                </div>
                <input type="password" class="form-control" placeholder="Gentag adgangskode" formControlName="confirmPassword" tabindex="4">
            </div>

            <div class="d-block" (click)="changeCheckbox('newsletter')">
              <label [for]="newsletter" class="cb-label">
                  <fa-icon [icon]="faSquare" style="font-size: 24px;" *ngIf="!newsletter"></fa-icon>
                  <fa-icon [icon]="faCheckSquare" style="font-size: 24px;" *ngIf="newsletter"></fa-icon>
                  <span class="ml-2">Jeg vil gerne modtage e-mails fra 444.dk</span>
              </label>
            </div>

            <div class="d-block" (click)="changeCheckbox('terms')">
              <label [for]="terms" class="cb-label">
                  <fa-icon [icon]="faSquare" style="font-size: 24px;" *ngIf="!terms"></fa-icon>
                  <fa-icon [icon]="faCheckSquare" style="font-size: 24px;" *ngIf="terms"></fa-icon>
                  <span class="ml-2">Jeg acceptere betingelserne</span>
                  <div><span class="pl-1 pr-1">-</span><a class="btn-link" routerLink="/terms" target="_blank">Læs betingelser</a></div>
              </label>
            </div>

            <input type="submit" class="btn btn-lg btn-success float-right" (click)="CreateUser()" value="Opret" tabindex="5"/>
        </div>
    </form>
</div>
