<div class="chat-body">
  <div #scrollChat class="vh-70">
  <div *ngFor="let c of chat" class="chat-message">
    <!--div class="player-info">
      <div class="player-image-chat">
        <img src="https://content.api.news/v3/images/bin/a6923adbc7bece73803221613f410782"/>
      </div>
      <div class="player-chat-name">
        <span>Greta Thunberg</span>
      </div>
    </div-->
    <div>
      <span class="chat-username">{{c?.Args[1]}}: </span>
      <span>{{c?.Args[0]}}</span>
    </div>
  </div>
  </div>
  <div class="chat-input-div">
    <input class="chat-input" (keyup.enter)="sendMessage($event)" placeholder="Skriv her" aria-multiline="true">
  </div>
</div>
