<div class="row">
    <div class="col col-6">
      <ng-template ngFor let-player [ngForOf]="players">
        <div class="row">
          <div class="col col-12">
              <app-player [playerID]="player.PlayerId" [readyState]="player.Ready"></app-player>
          </div>
      </div>
      </ng-template>
    </div>
    <div class="col col-6">
      <!--div class="container-button">
        <div class="button btn-idle">
          <span>JEG ER KLAR</span>
        </div>
      </div-->
      <div>
        <a class="w-100 btn btn-success mb-5 mt-1" (click)="Ready()">KLAR</a>
      </div>
      <div *ngIf="timerStarted">
        <div class="timer-group">
          <div class="timer minute">
            <div class="hand"><span></span></div>
            <div class="hand"><span></span></div>
          </div>
          <div class="timer second">
            <div class="hand"><span></span></div>
            <div class="hand"><span></span></div>
          </div>
          <div class="face">
            <p id="lazy">Spillet starter om: {{timeLeft}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
