/* You can add global styles to this file, and also import other style files */
/* If you is scrolled down on a site and click Log ind header and footer diapers */
.cdk-global-scrollblock {
  position: static;
}

body {
  background-color: #10004d;
}

.input-group input {
  border-color: #10004d;
}

.input-group .input-group-text {
  border-color: #1E035C;
  color: #fff;
  background-color: #1E035C;
}

.modal-title {
  color: #1E035C;
  font-weight: 800;
  text-align: center;
}

.modal-content {
  border-radius: 0.5rem;
  border-color: #1E035C;
}


/* Carousel Slide Animation */

ngb-carousel {
  max-width: 100%;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: 1.2s ease-in-out;
  z-index: -1;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Modal Design */
.mat-dialog-container {
  background-color: #F5F5F5;
}

.active {
  border-bottom: none !important;
  background-color: azure !important;
}
