<div class="terms-container">
  <h3>Accept af vilkår:</h3>

  <span>444.dk ejes og drives af Play.it A/S Alpeviolvej 3, Denmark CVR: 78945612.
        Når du benytter 444.dk’s faciliteter og tilbud, accepterer du, at de nedenstående regler gælder for anvendelsen og at du derved indgår en aftale med Play.it ApS på nedenstående vilkår.
        Du bekræfter også at du er mindst 13 år gammel.</span>
  <h3>Om 444.dk og præmierne:</h3>

  <span>På 444.dk kan du spille sjove og underholdende spil helt gratis. Ved at spille kan du vinde Play Coins, som du kan bruge til lodtrækningen om de forskellige præmier.
        Du kan læse mere om præmierne på forsiden under menupunktet "Præmier".</span>

  <span>Du behøver ikke have flest Play Coins for at vinde, men jo flere du har, desto større er chancen!
        For at deltage i lodtrækningen om præmierne er det vigtigt, at du husker at købe lodder. Dette kan du gøre i ”Præmiebutikken”.</span>

  <span>Alle personer kan deltage i 444.dk’s konkurrencer, men præmier sendes kun til personer med en dansk adresse.
        Der vil blive sendt en e-mail til alle vindere og denne e-mail skal besvares inden for 30 dage, ellers bortfalder retten til præmien.
        Der kan gå op til 30 dage fra man har oplyst sin adresse til at man modtager præmien. Hvis præmien ikke er modtaget senest 30 dage efter, at man har oplyst sin adresse, bedes vinderen henvende sig til 444.dk.
        Ved at acceptere en præmie på vores side accepterer du yderligere, at vi i markedsføringsøjemed har ret til at oplyse dit brugernavn og spilstatstikker i ethvert givent nyhedsbrev, nyhedsside, e-mail eller lign.
        uden du vil modtage betaling herfor. Ansatte hos 444, inklusive admins, og deres nærmeste familie, kan ikke deltage i lodtrækningerne. Præmierne kan ikke byttes til kontanter eller andre præmier.</span>

  <span>Der tages forbehold for fejl / tekniske problemer i lodtrækningerne.</span>

  <h3>Én person er lig med én bruger:</h3>

  <span>En person må kun oprette én brugerprofil. Profilen og brugsretten til denne er personlig og du må derfor ikke oprette eller anvende en profil i en andens navn.</span>

  <span>Det er ikke tilladt at anvende scripts eller andre automatiserede programmer (f.eks. autoclick programmer) til at indsamle poletter og opnå yderligere statistik i et spil.
        Såfremt noget sådant konstateres, vil 444.dk omgående slette dig i databasen samt udelukke dig fra 444.dk på ubestemt tid.
        Såfremt du under anvendelse af sådanne metoder eller systemer uberettiget har opnået gevinster eller værdier, forbeholder 444.dk sig retten til at kræve erstatning hos dig.</span>

  <h3>Markedsføring:</h3>

  <span>Ved oprettelse af en bruger på 444.dk vil du have mulighed for via et flueben at samtykke til at modtage direkte markedsføring. Tilmeldingen vil have et indhold som følger:</span>

  <span>”Jeg accepterer 444.dk’s betingelser samt at modtage nyheder og tilbud via e-mail”</span>

  <span>Du giver derved 444.dk lov til at udsende følgende e-mails til dig:</span>

  <span>Nyhedsbrev – Indeholder nyheder og opdatering omkring 444.dk. Kan ligeledes indeholde reklamer fra tredjemand. Nyhedsbrevet kan altid afmeldes når du er logget ind, eller ved at klikke her.</span>

  <span>Tilbudsservice – Indeholder reklamer fra tredjemand, som kan være henvendt til alle brugere som modtager vores tilbudsservice eller på basis af din geografiske placering eller alder.
        Tilbudsservicen kan altid afmeldes når man er logget ind, eller ved at klikke her.</span>

  <h3>Datapolitik:</h3>

  <span>Den Europæiske Unions generelle databeskyttelsesforordning (GDPR), som trådte i kraft den 25. maj 2018, kræver, at alle organisationer,
        der indsamler følsomme personoplysninger fra dem, der er bosiddende i EU, anmodes om klart og specifikt samtykke, inden de indsamler disse data.
        Ifølge GDPR, er personoplysninger hvilken som helst information, som kan bruges til at identificere vedkommende, der leverede personoplysningerne.</span>

  <span>444.dk overholder naturligvis den til enhver tid gældende lovgivning om persondata.
        Persondata er defineret som enhver oplysning, der kan henføres til en enkeltperson fx navn, fødselsdato, adresse osv.
        Fotos kan også betragtes som persondata, hvis det er muligt at identificere enkeltpersoner.
        Krypterede data anses også for persondata i det omfang der er mulighed at dekryptere disse oplysninger og dermed identificere de personer, dataene angår.</span>

  <h3>Cookies:</h3>

  <span>Vi anvender cookies for at gemme visse typer af information på vores side, som f.eks. om du er logget ind eller ej.
        Cookies giver vores system mulighed for at genkende din computer og sikre at din konto er forbundet med den profil du har oprettet.</span>

  <h3>Ip-adresse:</h3>

  <span>Når du besøger 444.dk registreres den anvendte IP-adresse. Din IP-adresse er adressen på den computer og internetforbindelse, som du anvender til at besøge 444.dk.
        Formålet med registreringen er at vi altid kan finde tilbage til den anvendte computer, hvis der skulle ske misbrug eller overskridelse af lovgivningen i forbindelse med besøget på 444.dk</span>

  <h3>Sprogbrug, adfærd og generelt for siden:</h3>

  <span>Følgende regler gør sig gældende for brug af 444.dk:</span>

  <ul>
    <li>Ved oprettelse som bruger skal man afgive korrekte og sande oplysninger. Det er ikke tilladt at benytte en falsk identitet eller en anden persons identitet herunder f.eks. e-mail adresse eller personlige oplysninger. I tilfælde af chikane vil enhver oplysning såsom IP-adresse mm. blive udleveret til politiet med henblik på efterforskning.</li>
    <li>444.dk forbeholder sig ret til at slette, gemme eller ændre profiler som ikke overholder dansk lovgivning eller som er uforenelig med 444.dk’s eller dens brugeres interesser. Hvis en bruger udviser en upassende adfærd f.eks. overfor andre brugere, eller hvis en bruger ikke reagerer på de advarsler som 444.dk uddeler, forbeholder 444.dk sig ret til at suspendere eller slette den pågældende brugers profil og dermed udelukke denne fra at deltage i fællesskabet på 444.dk som aktiv bruger enten midlertidigt eller permanent.</li>
    <li>Brugere på 444.dk skal respektere andre brugeres ret til privatliv</li>
    <li>444.dk forbeholder sig retten til løbende at gennemgå indholdet i chatlogs, profiler og private beskeder med henblik på at påse, at 444.dks ordensreglement overholdes.</li>
    <li>444.dk forbeholder sig i særdeleshed ret til at udelukke brugere som overtræder en af følgende regler på vores sider eller i et af vores chatrum:</li>
    <br/>
    <li>Uanstændigt, fornærmende, vulgært, nedværdigende eller krænkende sprogbrug er ikke tilladt</li>
    <li>Det er forbudt at drive hetz mod andre grupper og individer eller at opfordre hertil</li>
    <li>Det er forbudt at uploade voldeligt eller pornografisk materiale</li>
    <li>Oplysninger eller handlinger, der er i strid med lovgivningen tillades ikke.</li>
    <li>Brugerne på 444.dk må ikke anvende siden til markedsføring og/eller fremsættelse af tilbud om salg eller køb af varer eller tjenester.</li>
    <li>Oprettelse af mere end én profil pr. person er ikke tilladt</li>
    <li>Man må ikke logge ind på det samme spil mere end én gang ad gangen. Man må gerne spille forskellige spil samtidigt.</li>
    <li>Det er ikke tilladt at chatte på andre sprog end dansk (norsk og svensk er tilladt, da det er meget lig dansk)</li>
    <li>Enhver adfærd på og i forbindelse med www.444.dk, der af 444.dk vurderes som strafbar, vil blive anmeldt til politiet.</li>
    <li>444.dk overvåger konstant web-sitet med henblik på fejl, virusangreb, misbrug etc. og søger at rette problemer straks de konstateres. 444.dk kan imidlertid ikke holdes ansvarlig for den skade, som du og/eller din computer måtte blive påført som følge af benyttelsen af 444.dk’s faciliteter. Ved midlertidige fejl eller hvis siden/serveren er lukket/nede bliver der ikke kompenseret for mistede gevinster.</li>
  </ul>

  <h3>Dataansvarlig:</h3>

  <span>Play.it er dataansvarlig i forhold til oplysninger, som findes om dig på 444.dk. Vi kan kontaktes skriftligt på denne adresse eller via. kontaktmulighederne på hjemmesiden.</span>

  <span>Play.it A/S</span>

  <span>Alpeviolvej 3</span>

  <span>4200 Slagelse</span>

  <span>Denmark</span>

  <span>CVR: 78945612</span>

  <h3>Ændringer:</h3>

  <span>444.dk forbeholder sig ret til at ændre nærværende betingelser med et varsel på 2 uger efter offentliggørelse på www.444.dk.</span>

  <h3>Ekstra:</h3>

  <span>Ved at acceptere disse betingelser indvilliger du hermed til at overdrage din førstefødte til Play.it</span>
</div>
